* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  background: rgba(191, 189, 165, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* LOGO CENTRAL */
.logo-topo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
<<<<<<< HEAD
  height: 70px;
  max-width: 140px;
  object-fit: contain;
}

body {
  
  padding: 0;
  background: #f3f4f6;
  font-family: "Segoe UI", Arial, sans-serif;
  overflow-x: hidden;
=======
  height: 100px; /* DIMINUI */
}

body {
  background: #f3f4f6;
>>>>>>> 37a57ca (Armazenar os dados do front e back no banco de dados)
}

#telaLista::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 300px;
  height: 300px;

  background: url('../images/logo-emp.png') no-repeat center;
  background-size: contain;

  transform: translate(-50%, -50%);
  opacity: 0.08;

  
}

/* Forma suave no canto superior */
#telaLista::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 300px; /* tamanho da logo */
  height: 300px;

  background: url('../images/logo-emp.png') no-repeat center;
  background-size: contain;

  transform: translate(-50%, -50%); /* centraliza */

  opacity: 0.08; /* deixa bem suave (IMPORTANTE) */

  z-index: -1; /* fica atrás */
}



.item {
  display: flex;
<<<<<<< HEAD
  align-items: center;
  gap: 12px;
  background: #fff;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  width: 100%;
=======
  gap: 14px;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 12px;
  align-items: center;

  background: rgba(229, 192, 192, 0.9);
  backdrop-filter: blur(10px);

  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  transition: 0.2s;
>>>>>>> 37a57ca (Armazenar os dados do front e back no banco de dados)
}

.item:hover {
  transform: scale(1.02);
}

#telaLista .linha {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid rgba(180,150,120,0.2);
  border-radius: 50%;
  z-index: -1; /* ADICIONA */
}

.linha1 {
  top: 50px;
  left: -100px;
}

.linha2 {
  bottom: 50px;
  right: -100px;
}

/* TOPO */


.topo h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
}


.topo button {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  z-index: 1;
}



.carrinho {
  font-size: 20px;
  color: #374151;
  cursor: pointer;
  
}

/* BUSCA */
.busca {
  padding: 12px 16px;
}

.busca input {
  width: 100%;
  height: 44px;
  border-radius: 30px;
  border: none;
  padding-left: 40px;

  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(10px);

  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
/* Ícone de busca fake */
.busca {
  position: relative;
}

.busca::before {
  content: "🔍";
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #6b7280;
}

/* CATEGORIAS */
.categorias {
  display: flex;
  gap: 10px;
  padding: 10px 16px;
  overflow-x: auto;
}

.categorias::-webkit-scrollbar {
  display: none;
}

.categorias button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;

  background: #eee;
  color: #444;

  transition: 0.2s;
}

.categorias button:hover {
  background: #ddd;
}

.categorias .ativo {
  background: #ff5a00;
  color: white;
}

/* BOTÃO ATIVO */
.categorias .ativo {
  background: #ff5a00;
  color: white;
  font-weight: 500;
}

/* LISTA */
.lista {
  padding: 10px 12px;
}

/* CARD */
.item {
  display: flex;
  gap: 14px;
  background: #ffffff;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 12px;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

/* IMAGEM */
<<<<<<< HEAD
.item > img {
  width: 85px;
  height: 85px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
=======
.item img {
  width: 90px;
  height: 90px;
  border-radius: 14px;
  object-fit: cover;
>>>>>>> 37a57ca (Armazenar os dados do front e back no banco de dados)
}

/* TEXTO */
.info h3 {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 4px;
}

.info p {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 6px;
  line-height: 1.4;
}

/* PREÇO */
.preco {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

body {
  font-family: sans-serif;
  margin: 50px;
  background: #f5f5f5;
  
}

/* IMAGEM TOPO */
.topo-img img {
  width: 100%;
<<<<<<< HEAD
  height: 45vh;
  max-height: 400px;
  object-fit: cover;
}
=======
  height: 400px;
  object-fit: cover;
}

>>>>>>> 37a57ca (Armazenar os dados do front e back no banco de dados)
/* CONTEÚDO */
.container {
  padding: 20px;
}

h2 {
  margin-bottom: 5px;
  
}

.descricao {
  color: #666;
}

.preco {
  color: #000000;
  font-size: 22px;
  margin: 15px 0;
  display: block;
  font-family: sans-serif;
}

/* INGREDIENTES */
.ingredientes {
  background: #eee;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ingredientes div {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

/* QUANTIDADE */
.quantidade {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.quantidade button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

/* BOTÃO FINAL */
.btn-carrinho {
  width: 100%;
  padding: 15px;
  background: #4aad19;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
<<<<<<< HEAD
  margin-top: 14px;
=======
>>>>>>> 37a57ca (Armazenar os dados do front e back no banco de dados)
}

/* VOLTAR */
.voltar {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* TELA DO CARINHO */

body {
  font-family: Arial;
  background: #f3f4f6;
}

.topo {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.item {
  display: flex;
  align-items: center;
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

<<<<<<< HEAD
.item > img {
  width: 85px;
  height: 85px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
=======
.item img {
  width: 70px;
  border-radius: 10px;
>>>>>>> 37a57ca (Armazenar os dados do front e back no banco de dados)
}

.info {
  flex: 1;
  margin-left: 10px;
}

.quantidade {
  display: flex;
  gap: 10px;
  align-items: center;
}

.total {
  padding: 20px;
  font-size: 20px;
}

.btn {
  background: orange;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.topo h2 {
 position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;

}

/* confirmar pedido */

.card-status {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  margin: 20px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.icone {
  width: 80px;
  height: 80px;
  background: #d9ffd9;
  color: #55ff00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 0 auto 10px;
}

.timeline {
  margin-top: 20px;
}

.step {
  padding: 12px;
  border-left: 3px solid #ccc;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #888;
}

.step.ativo {
  border-left: 3px solid #4aad19;
  color: #000;
  font-weight: bold;
}

.btn-novo-pedido {
  width: 100%;
  padding: 15px;
  background: #4aad19;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-novo-pedido:hover {
  background: #4aad19;
}
  

/* pagamento*/

.opcoes-pagamento {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.opcao {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.opcao:hover {
  border: 2px solid #ff5a00;
}

.opcao.ativa {
  border: 2px solid #ff5a00;
  background: #fff3eb;
}

/* botão status */

.status-btn {
  position: relative;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ff5a00;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

<<<<<<< HEAD


/* LIXEIRA */

.acoes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  min-width: 24px;
}

.acoes img {
  width: 22px !important;
  height: 22px !important;
  object-fit: contain;
  display: block;
}


.acoes  img:hover {
  transform: scale(1.1);
=======
/* lixeira*/



.acoes {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 6;
}

.acoes img {
  width: 30px;   /* controla tamanho */
  height: 30px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.acoes img:hover {
  transform: scale(1.2);
>>>>>>> 37a57ca (Armazenar os dados do front e back no banco de dados)
  opacity: 1;
}

#telaCarrinho {
  position: relative;
<<<<<<< HEAD
}

/* ========================= */
/* RESPONSIVIDADE CELULAR */
/* ========================= */

@media (max-width: 768px) {

  .topo {
    padding: 12px;
  }

  .logo-topo {
    height: 55px;
  }

  .categorias {
    gap: 8px;
    padding: 10px;
  }

  .categorias button {
    font-size: 13px;
    padding: 8px 14px;
    white-space: nowrap;
  }

 .item {
  flex-direction: row;
  align-items: center;
}

  .item > img {
    width: 75px;
    height: 75px;
  }

  .info h3 {
    font-size: 15px;
  }

  .info p {
    font-size: 12px;
  }

  .preco {
    font-size: 18px;
  }

  .container {
    padding: 16px;
  }

  .quantidade {
    gap: 10px;
  }

  .quantidade button {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .btn,
  .btn-carrinho,
  .btn-novo-pedido {
    width: 100%;
    font-size: 15px;
    padding: 14px;
  }

 
}

/* ========================= */
/* TELAS MUITO PEQUENAS */
/* ========================= */

@media (max-width: 480px) {


.acoes {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  min-width: 24px;
}

  .logo-topo {
    height: 48px;
  }

  .topo button {
    font-size: 18px;
  }

.item {
  flex-direction: row;
  align-items: center;
}

  .item > img {
    width: 65px;
    height: 65px;
  }

  .info h3 {
    font-size: 14px;
  }

  .info p {
    font-size: 11px;
  }

  .preco {
    font-size: 16px;
  }

  .topo-img img {
    height: 35vh;
  }

}

/* INPUTS PAGAMENTO */

.input-pagamento{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  margin-top:12px;
  background:#f3f4f6;
  font-size:15px;
  outline:none;
  box-shadow:0 2px 5px rgba(0,0,0,0.05);
=======
>>>>>>> 37a57ca (Armazenar os dados do front e back no banco de dados)
}